{
    "rules": {
        "eslint linebreak-style": ["error", "windows", "unix"],
        "eol-last": ["error", "never"],
        "semi": ["error", "always"],
        "quotes": ["error", "double"]
       
    }
}